<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

        <script>
            /*$(function(){
                $('.button').on('click', function(){
                    $(this).toggleClass('active');
                });
            });*/
        </script>
        <script>
            $(function() {
            var $children = $('.children');
            var original = $children.html();

            $('.parent').change(function() {
                var val1 = $(this).val();

                $children.html(original).find('option').each(function() {
                var val2 = $(this).data('val');
                if (val1 != val2) {
                    $(this).not(':first-child').remove();
                }
                });

                if ($(this).val() === '') {
                $children.attr('disabled', 'disabled');
                } else {
                $children.removeAttr('disabled');
                }

            });
            });
        </script>
    </head>
    <body>
        <head>
            <h1 id="titlename"><%= title %></h1>
        </head>
        <div role="main" class="menuservant">
            <table class="servants">

                    <% for (var i in content) { %> 
                    <% if (number[0]==content[i].id) { %>
                    <tr>
                        <% var obj1 = content[i]; %>

                        <% var style1 = "background-color:" + color1 %>
                        <% var style2 = "background-color:" + color2 %>
                        <% var style3 = "background-color:" + color3 %>
                        <% var style4 = "background-color:" + color4 %>
                        <% var style5 = "background-color:" + color5 %>
                        
                        <th class="name"><%= obj1.name %></th>
                        <td><button id="btn1" class="button" style=<%= style1 %>><font color=<%=obj1.color1 %>><%= obj1.c_cards[0] %></font></button></td>
                        <td><button id="btn2" class="button" style=<%= style2 %>><font color=<%=obj1.color2 %>><%= obj1.c_cards[1] %></font></button></td>
                        <td><button id="btn3" class="button" style=<%= style3 %>><font color=<%=obj1.color3 %>><%= obj1.c_cards[2] %></font></button></td>
                        <td><button id="btn4" class="button" style=<%= style4 %>><font color=<%=obj1.color4 %>><%= obj1.c_cards[3] %></font></button></td>
                        <td><button id="btn5" class="button" style=<%= style5 %>><font color=<%=obj1.color5 %>><%= obj1.c_cards[4] %></font></button></td>
                    </tr>
                    <% } %>
                    <% } %>
                    <% for (var i in content) { %> 
                    <% if (number[1]==content[i].id) { %>
                    <tr>
                        <% var obj2 = content[i]; %>

                        <% var style6 = "background-color:" + color6 %>
                        <% var style7 = "background-color:" + color7 %>
                        <% var style8 = "background-color:" + color8 %>
                        <% var style9 = "background-color:" + color9 %>
                        <% var style10 = "background-color:" + color10 %>

                        <th class="name"><%= obj2.name %></th>
                        <td><button id="btn6" class="button" style=<%= style6 %>><font color=<%=obj2.color1 %>><%= obj2.c_cards[0] %></font></button></td>
                        <td><button id="btn7" class="button" style=<%= style7 %>><font color=<%=obj2.color2 %>><%= obj2.c_cards[1] %></font></button></td>
                        <td><button id="btn8" class="button" style=<%= style8 %>><font color=<%=obj2.color3 %>><%= obj2.c_cards[2] %></font></button></td>
                        <td><button id="btn9" class="button" style=<%= style9 %>><font color=<%=obj2.color4 %>><%= obj2.c_cards[3] %></font></button></td>
                        <td><button id="btn10" class="button" style=<%= style10 %>><font color=<%=obj2.color5 %>><%= obj2.c_cards[4] %></font></button></td>
                    </tr>
                    <% } %>
                    <% } %>
                    <% for (var i in content) { %> 
                    <% if (number[2]==content[i].id) { %>
                    <tr>
                        <% var obj3 = content[i]; %>

                        <% var style11 = "background-color:" + color11 %>
                        <% var style12 = "background-color:" + color12 %>
                        <% var style13 = "background-color:" + color13 %>
                        <% var style14 = "background-color:" + color14 %>
                        <% var style15 = "background-color:" + color15 %>

                        <th class="name"><%= obj3.name %></th>
                        <td><button id="btn11" class="button" style=<%= style11 %>><font color=<%=obj3.color1 %>><%= obj3.c_cards[0] %></font></button></td>
                        <td><button id="btn12" class="button" style=<%= style12 %>><font color=<%=obj3.color2 %>><%= obj3.c_cards[1] %></font></button></td>
                        <td><button id="btn13" class="button" style=<%= style13 %>><font color=<%=obj3.color3 %>><%= obj3.c_cards[2] %></font></button></td>
                        <td><button id="btn14" class="button" style=<%= style14 %>><font color=<%=obj3.color4 %>><%= obj3.c_cards[3] %></font></button></td>
                        <td><button id="btn15" class="button" style=<%= style15 %>><font color=<%=obj3.color5 %>><%= obj3.c_cards[4] %></font></button></td>
                    </tr>
                    <% } %>
                    <% } %>

            </table>
            <form method="post" action="/command">
            <table>
                <tr>
                    <th>退場メンバー</th>
                    <td>
                        <input type="checkbox" name="before" value=1><%= obj1.name %><br>
                        <input type="checkbox" name="before" value=2><%= obj2.name %><br>
                        <input type="checkbox" name="before" value=3><%= obj3.name %><br>
                    </td>
                </tr>
                <tr>
                    <th>追加メンバー</th>
                    <td>
                        <select class="parent" name="class" required>
                            <option value="" class="msg" disabled selected>-----サーヴァントのクラスを選択-----</option>
                            <option value="5saber">星５セイバー</option>
                            <option value="4saber">星４セイバー</option>
                            <option value="3saber">星３セイバー</option>
                            <option value="5archer">星５アーチャー</option>
                            <option value="4archer">星４アーチャー</option>
                            <option value="3archer">星３アーチャー</option>
                            <option value="2archer">星２アーチャー</option>
                            <option value="1archer">星１アーチャー</option>
                            <option value="5lancer">星５ランサー</option>
                            <option value="4lancer">星４ランサー</option>
                            <option value="3lancer">星３ランサー</option>
                            <option value="2lancer">星２ランサー</option>
                            <option value="1lancer">星１ランサー</option>
                            <option value="5rider">星５ライダー</option>
                            <option value="4rider">星４ライダー</option>
                            <option value="3rider">星３ライダー</option>
                            <option value="2rider">星２ライダー</option>
                            <option value="1rider">星１ライダー</option>
                            <option value="5caster">星５キャスター</option>
                            <option value="4caster">星４キャスター</option>
                            <option value="3caster">星３キャスター</option>
                            <option value="2caster">星２キャスター</option>
                            <option value="1caster">星１キャスター</option>
                            <option value="5assassin">星５アサシン</option>
                            <option value="4assassin">星４アサシン</option>
                            <option value="3assassin">星３アサシン</option>
                            <option value="2assassin">星２アサシン</option>
                            <option value="1assassin">星１アサシン</option>
                            <option value="5berserker">星５バーサーカー</option>
                            <option value="4berserker">星４バーサーカー</option>
                            <option value="3berserker">星３バーサーカー</option>
                            <option value="2berserker">星２バーサーカー</option>
                            <option value="1berserker">星１バーサーカー</option>
                            <option value="5extra">星５エクストラ</option>
                            <option value="4extra">星４エクストラ</option>
                            <option value="3extra">星３エクストラ</option>
                            <option value="0extra">星０エクストラ</option>
                        </select><br>
                        <select class="children" name="after" disabled required>
                            <option value="not_selected" class="msg" disabled selected>-----サーヴァントを選択-----</option>
                                <% for(var i in content2) { %>
                                    <% var obj = content2[i]; %>
                                    <option value=<%= obj.id %> data-val=<%= obj.class %>><%= obj.name %></option>
                                <% } %>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" id = "toc1" name = "toc1" value = <%= color1 %>>
            <input type="hidden" id = "toc2" name = "toc2" value = <%= color2 %>>
            <input type="hidden" id = "toc3" name = "toc3" value = <%= color3 %>>
            <input type="hidden" id = "toc4" name = "toc4" value = <%= color4 %>>
            <input type="hidden" id = "toc5" name = "toc5" value = <%= color5 %>>
            <input type="hidden" id = "toc6" name = "toc6" value = <%= color6 %>>
            <input type="hidden" id = "toc7" name = "toc7" value = <%= color7 %>>
            <input type="hidden" id = "toc8" name = "toc8" value = <%= color8 %>>
            <input type="hidden" id = "toc9" name = "toc9" value = <%= color9 %>>
            <input type="hidden" id = "toc10" name = "toc10" value = <%= color10 %>>
            <input type="hidden" id = "toc11" name = "toc11" value = <%= color11 %>>
            <input type="hidden" id = "toc12" name = "toc12" value = <%= color12 %>>
            <input type="hidden" id = "toc13" name = "toc13" value = <%= color13 %>>
            <input type="hidden" id = "toc14" name = "toc14" value = <%= color14 %>>
            <input type="hidden" id = "toc15" name = "toc15" value = <%= color15 %>>

            <input type="submit" class="buttons" value="オーダーチェンジ">
            </form>
            <input type="button" class="buttons" value="コマンドカードを初期状態に戻す" onclick="window.location.reload();" />
        </div>
        <p class="menutop">説明</p>
        <ul>
            <li class="menuli">使用されたコマンドカードをクリックしてください。クリックされたカードは紫色に変化します。</li>
            <li class="menuli">コマンドカードが埋まったら自動的にリセットされます。途中でリセットするときは、「コマンドカードを初期状態に戻す」ボタンを押せばリセットされます。</li>
            <li class="menuli">オーダーチェンジボタンは使用されたカードの情報を保存する動作になっていますが、オーダーチェンジの仕様上、コマンドカードの構成が異なるサーヴァントを入れ替えたときの挙動を完全に追い切るのは難しいと思われます。そこについての誤差はご了承ください。<a href="https://fate-go.boom-app.wiki/entry/1071">参考にしたページ</a></a></li>
            <li class="menuli">サーヴァントが退場した場合は「コマンドカードを初期状態に戻す」ボタンをクリックしてから「オーダーチェンジ」を行なってください。</li>
        </ul>
        <p class="menu"><a href="/">トップに戻る</a></p>

        <script type="text/javascript"  src="/javascripts/command.js"></script>
    </body>
</html>