<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

        <script>
            $(function(){
                $('.button').on('click', function(){
                    $(this).toggleClass('active');
                });
            });
        </script>
    </head>
    <body>
        <head>
            <h1><%= title %></h1>
        </head>
        <div role="main">
            <table>
                <% for (var j in content) { %> 
                    <% for (var i in content) { %> 
                    <% if (number[j]==content[i].id) { %>
                    <tr>
                        <% var obj = content[i]; %>
                        <th class="name"><%= obj.name %></th>
                        <td><button class="button"><font color=<%=obj.color1 %>><%= obj.c_cards[0] %></font></button></td>
                        <td><button class="button"><font color=<%=obj.color2 %>><%= obj.c_cards[1] %></font></button></td>
                        <td><button class="button"><font color=<%=obj.color3 %>><%= obj.c_cards[2] %></font></button></td>
                        <td><button class="button"><font color=<%=obj.color4 %>><%= obj.c_cards[3] %></font></button></td>
                        <td><button class="button"><font color=<%=obj.color5 %>><%= obj.c_cards[4] %></font></button></td>
                    </tr>
                    <% } %>
                    <% } %>
                <% } %>
            </table>
            <form method="post" action="/command">
            <table>
                <tr>
                    <th>メンバ変更</th>
                    <td><input type="text" name="before"></td>
                    <td><input type="text" name="after"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="変更"></td>
                </tr>
            </table>
            </form>
        </div>
    </body>
</html>