<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script>
         $(function() {
            var $children = $('.children');
            var $children2 = $('.children2');
            var $children3 = $('.children3');
            var original = $children.html();
            var original2 = $children2.html();
            var original3 = $children3.html();
            

            $('.parent').change(function() {
                var val1 = $(this).val();

                $children.html(original).find('option').each(function() {
                var val2 = $(this).data('val');
                if (val1 != val2) {
                    $(this).not(':first-child').remove();
                }
                });

                if ($(this).val() === '') {
                $children.attr('disabled', 'disabled');
                } else {
                $children.removeAttr('disabled');
                }

            });
            $('.parent2').change(function() {
                var val1 = $(this).val();

                $children2.html(original).find('option').each(function() {
                var val2 = $(this).data('val');
                if (val1 != val2) {
                    $(this).not(':first-child').remove();
                }
                });

                if ($(this).val() === '') {
                $children2.attr('disabled', 'disabled');
                } else {
                $children2.removeAttr('disabled');
                }

            });
            $('.parent3').change(function() {
                var val1 = $(this).val();

                $children3.html(original).find('option').each(function() {
                var val2 = $(this).data('val');
                if (val1 != val2) {
                    $(this).not(':first-child').remove();
                }
                });

                if ($(this).val() === '') {
                $children3.attr('disabled', 'disabled');
                } else {
                $children3.removeAttr('disabled');
                }

            });
        });
    </script>
    <body>
        <head>
            <h1 id="titlename"><%= title %></h1>
        </head>
        <div role="main" class="menutop">
            <form method="post" action="/command/set">
            <table>
                <tr>
                    <th>サーヴァント指定</th>
                    <td>
                            <select class="parent" name="class" required>
                                <option value="" class="msg" disabled selected>-----サーヴァントのクラスを選択-----</option>
                                <option value="5saber">星５セイバー</option>
                                <option value="4saber">星４セイバー</option>
                                <option value="3saber">星３セイバー</option>
                                <option value="5archer">星５アーチャー</option>
                                <option value="4archer">星４アーチャー</option>
                                <option value="3archer">星３アーチャー</option>
                                <option value="2archer">星２アーチャー</option>
                                <option value="1archer">星１アーチャー</option>
                                <option value="5lancer">星５ランサー</option>
                                <option value="4lancer">星４ランサー</option>
                                <option value="3lancer">星３ランサー</option>
                                <option value="2lancer">星２ランサー</option>
                                <option value="1lancer">星１ランサー</option>
                                <option value="5rider">星５ライダー</option>
                                <option value="4rider">星４ライダー</option>
                                <option value="3rider">星３ライダー</option>
                                <option value="2rider">星２ライダー</option>
                                <option value="1rider">星１ライダー</option>
                                <option value="5caster">星５キャスター</option>
                                <option value="4caster">星４キャスター</option>
                                <option value="3caster">星３キャスター</option>
                                <option value="2caster">星２キャスター</option>
                                <option value="1caster">星１キャスター</option>
                                <option value="5assassin">星５アサシン</option>
                                <option value="4assassin">星４アサシン</option>
                                <option value="3assassin">星３アサシン</option>
                                <option value="2assassin">星２アサシン</option>
                                <option value="1assassin">星１アサシン</option>
                                <option value="5berserker">星５バーサーカー</option>
                                <option value="4berserker">星４バーサーカー</option>
                                <option value="3berserker">星３バーサーカー</option>
                                <option value="2berserker">星２バーサーカー</option>
                                <option value="1berserker">星１バーサーカー</option>
                                <option value="5extra">星５エクストラ</option>
                                <option value="4extra">星４エクストラ</option>
                                <option value="3extra">星３エクストラ</option>
                                <option value="0extra">星０エクストラ</option>
                            </select>
                            <select class="children" name="servant1" disabled required>
                                <option value="not_selected" class="msg" disabled selected>-----サーヴァントを選択-----</option>
                                    <% for(var i in content) { %>
                                        <% var obj = content[i]; %>
                                        <option value=<%= obj.id %> data-val=<%= obj.class %>><%= obj.name %></option>
                                    <% } %>
                            </select>
                        </td>
                        <td>
                                <select class="parent2" name="class" required>
                                    <option value="" class="msg" disabled selected>-----サーヴァントのクラスを選択-----</option>
                                    <option value="5saber">星５セイバー</option>
                                    <option value="4saber">星４セイバー</option>
                                    <option value="3saber">星３セイバー</option>
                                    <option value="5archer">星５アーチャー</option>
                                    <option value="4archer">星４アーチャー</option>
                                    <option value="3archer">星３アーチャー</option>
                                    <option value="2archer">星２アーチャー</option>
                                    <option value="1archer">星１アーチャー</option>
                                    <option value="5lancer">星５ランサー</option>
                                    <option value="4lancer">星４ランサー</option>
                                    <option value="3lancer">星３ランサー</option>
                                    <option value="2lancer">星２ランサー</option>
                                    <option value="1lancer">星１ランサー</option>
                                    <option value="5rider">星５ライダー</option>
                                    <option value="4rider">星４ライダー</option>
                                    <option value="3rider">星３ライダー</option>
                                    <option value="2rider">星２ライダー</option>
                                    <option value="1rider">星１ライダー</option>
                                    <option value="5caster">星５キャスター</option>
                                    <option value="4caster">星４キャスター</option>
                                    <option value="3caster">星３キャスター</option>
                                    <option value="2caster">星２キャスター</option>
                                    <option value="1caster">星１キャスター</option>
                                    <option value="5assassin">星５アサシン</option>
                                    <option value="4assassin">星４アサシン</option>
                                    <option value="3assassin">星３アサシン</option>
                                    <option value="2assassin">星２アサシン</option>
                                    <option value="1assassin">星１アサシン</option>
                                    <option value="5berserker">星５バーサーカー</option>
                                    <option value="4berserker">星４バーサーカー</option>
                                    <option value="3berserker">星３バーサーカー</option>
                                    <option value="2berserker">星２バーサーカー</option>
                                    <option value="1berserker">星１バーサーカー</option>
                                    <option value="5extra">星５エクストラ</option>
                                    <option value="4extra">星４エクストラ</option>
                                    <option value="3extra">星３エクストラ</option>
                                    <option value="0extra">星０エクストラ</option>
                                </select>
                                <select class="children2" name="servant2" disabled required>
                                    <option value="not_selected" class="msg" disabled selected>-----サーヴァントを選択-----</option>
                                        <% for(var i in content) { %>
                                            <% var obj = content[i]; %>
                                            <option value=<%= obj.id %> data-val=<%= obj.class %>><%= obj.name %></option>
                                        <% } %>
                                </select>
                            </td>
                            <td>
                                    <select class="parent3" name="class" required>
                                        <option value="" class="msg" disabled selected>-----サーヴァントのクラスを選択-----</option>
                                        <option value="5saber">星５セイバー</option>
                                        <option value="4saber">星４セイバー</option>
                                        <option value="3saber">星３セイバー</option>
                                        <option value="5archer">星５アーチャー</option>
                                        <option value="4archer">星４アーチャー</option>
                                        <option value="3archer">星３アーチャー</option>
                                        <option value="2archer">星２アーチャー</option>
                                        <option value="1archer">星１アーチャー</option>
                                        <option value="5lancer">星５ランサー</option>
                                        <option value="4lancer">星４ランサー</option>
                                        <option value="3lancer">星３ランサー</option>
                                        <option value="2lancer">星２ランサー</option>
                                        <option value="1lancer">星１ランサー</option>
                                        <option value="5rider">星５ライダー</option>
                                        <option value="4rider">星４ライダー</option>
                                        <option value="3rider">星３ライダー</option>
                                        <option value="2rider">星２ライダー</option>
                                        <option value="1rider">星１ライダー</option>
                                        <option value="5caster">星５キャスター</option>
                                        <option value="4caster">星４キャスター</option>
                                        <option value="3caster">星３キャスター</option>
                                        <option value="2caster">星２キャスター</option>
                                        <option value="1caster">星１キャスター</option>
                                        <option value="5assassin">星５アサシン</option>
                                        <option value="4assassin">星４アサシン</option>
                                        <option value="3assassin">星３アサシン</option>
                                        <option value="2assassin">星２アサシン</option>
                                        <option value="1assassin">星１アサシン</option>
                                        <option value="5berserker">星５バーサーカー</option>
                                        <option value="4berserker">星４バーサーカー</option>
                                        <option value="3berserker">星３バーサーカー</option>
                                        <option value="2berserker">星２バーサーカー</option>
                                        <option value="1berserker">星１バーサーカー</option>
                                        <option value="5extra">星５エクストラ</option>
                                        <option value="4extra">星４エクストラ</option>
                                        <option value="3extra">星３エクストラ</option>
                                        <option value="0extra">星０エクストラ</option>
                                    </select>
                                    <select class="children3" name="servant3" disabled required>
                                        <option value="not_selected" class="msg" disabled selected>-----サーヴァントを選択-----</option>
                                            <% for(var i in content) { %>
                                                <% var obj = content[i]; %>
                                                <option value=<%= obj.id %> data-val=<%= obj.class %>><%= obj.name %></option>
                                            <% } %>
                                    </select>
                                </td>
                </tr>
            </table>
            <input type="submit" class="buttons" value="指定">
            </form>
            <p><a href="/">トップに戻る</a></p>
        </div>
        <p class="menutop">説明</p>
        <ul>
            <li class="menuli">戦闘をするサーヴァントをここで指定してください</li>
            <li class="menuli">「サーヴァントのクラスを選択」で、レアリティとクラスを指定し、「サーヴァントを選択」でサーヴァントを指定して指定ボタンを押してください</li>
            <li class="menuli">残りのサーヴァントが３騎いない時はクラスを適当に指定したうえでサーヴァントを指定せずに指定ボタンを押してください</li>
        </ul>
    </body>
</html>