<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <title><%=title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1 id="titlename"><%=title %>の必要素材数</h1>
        <div class="btoa">
            <p class="sdata">
                再臨：第<%=sbefore %>段階⇨第<%=safter %>段階<br>
                スキル１：レベル<%=sk1before %>⇨レベル<%=sk1after %><br>
                スキル２：レベル<%=sk2before %>⇨レベル<%=sk2after %><br>
                スキル３：レベル<%=sk3before %>⇨レベル<%=sk3after %><br>
            </p>
        </div>
    <div role="main" class="menutop2">
            <table>
                <% var items = Array(73); %>
                <% var itemnames = ['英雄の証', '凶骨', '竜の牙', '虚影の塵', '愚者の鎖', '万死の毒針', '魔術髄液', '宵哭きの鉄杭', '世界樹の種', 'ゴーストランタン', '八連双晶', '蛇の宝玉', '鳳凰の羽根', '無間の歯車', '禁断の頁', 'ホムンクルスベビー', '隕蹄鉄', '大騎士勲章', '追憶の貝殻', '枯淡勾玉', '混沌の爪', '蛮神の心臓', '竜の逆鱗', '精霊根', '戦馬の幼角', '血の涙石', '黒獣脂', '封魔のランプ', '智慧のスカラベ', '原初の産毛', '呪獣胆石', '奇奇神酒', '伝承結晶', '剣の輝石', '弓の輝石', '槍の輝石', '騎の輝石', '術の輝石', '殺の輝石', '狂の輝石', '剣の魔石', '弓の魔石', '槍の魔石', '騎の魔石', '術の魔石', '殺の魔石', '狂の魔石', '剣の秘石', '弓の秘石', '槍の秘石', '騎の秘石', '術の秘石', '殺の秘石', '狂の秘石', 'セイバーピース', 'アーチャーピース', 'ランサーピース', 'ライダーピース', 'キャスターピース', 'アサシンピース', 'バーサーカーピース','セイバーモニュメント', 'アーチャーモニュメント', 'ランサーモニュメント', 'ライダーモニュメント', 'キャスターモニュメント', 'アサシンモニュメント', 'バーサーカーモニュメント', 'イベント再臨素材', '励振火薬', '永遠結氷', '巨人の指輪', 'オーロラ鋼']; %>
                <% for(var i=0; i<73; i++) { %>
                        <% items[i] = 0; %>
                <% } %>

                <% for (var i in content) { %>
                    <% items[0] += content[i].eiyunoakashi; %>
                    <% items[1] += content[i].kyokotsu; %>
                    <% items[2] += content[i].ryunokiba; %>
                    <% items[3] += content[i].kyoeinochiri; %>
                    <% items[4] += content[i].gusyanokusari; %>    
                    <% items[5] += content[i].banshinodokubari; %>
                    <% items[6] += content[i].mazyutsuzuieki; %>
                    <% items[7] += content[i].yoidukinotetsukui; %>
                    <% items[8] += content[i].sakaizyunotane; %>
                    <% items[9] += content[i].ghostlanthumn; %>
                    <% items[10] += content[i].hachirensosho; %>
                    <% items[11] += content[i].hebihogyoku; %>
                    <% items[12] += content[i].hououhane; %>
                    <% items[13] += content[i].mugenhaguruma; %>
                    <% items[14] += content[i].kindanpage; %>
                    <% items[15] += content[i].homunculusbaby; %>
                    <% items[16] += content[i].intetetsu; %>
                    <% items[17] += content[i].daikishikunsho; %>
                    <% items[18] += content[i].tsuiokukaigara; %>
                    <% items[19] += content[i].karetanmagatama; %>
                    <% items[20] += content[i].kontontsume; %>
                    <% items[21] += content[i].banshinshinzo; %>
                    <% items[22] += content[i].ryunogekirin; %>
                    <% items[23] += content[i].seireikon; %>
                    <% items[24] += content[i].senmanoyokaku; %>
                    <% items[25] += content[i].chinoruiseki; %>
                    <% items[26] += content[i].kokuzyushi; %>
                    <% items[27] += content[i].fumanolamp; %>
                    <% items[28] += content[i].chienosukarabe; %>
                    <% items[29] += content[i].genshonoubuge; %>
                    <% items[30] += content[i].zyuzyutanseki; %>
                    <% items[31] += content[i].kikishinsyu; %>
                    <% items[32] += content[i].denshonokessho; %>
                    <% items[33] += content[i].kennokiseki; %>
                    <% items[34] += content[i].yuminokiseki; %>
                    <% items[35] += content[i].yarinokiseki; %>
                    <% items[36] += content[i].kinokiseki; %>
                    <% items[37] += content[i].zyutsunokiseki; %>
                    <% items[38] += content[i].satsunokiseki; %>
                    <% items[39] += content[i].kyonokiseki; %>
                    <% items[40] += content[i].kennomaseki; %>
                    <% items[41] += content[i].yuminomaseki; %>
                    <% items[42] += content[i].yarinomaseki; %>
                    <% items[43] += content[i].kinomaseki; %>
                    <% items[44] += content[i].zyutsunomaseki; %>
                    <% items[45] += content[i].satsunomaseki; %>
                    <% items[46] += content[i].kyonomaseki; %>
                    <% items[47] += content[i].kennohiseki; %>
                    <% items[48] += content[i].yuminohiseki; %>
                    <% items[49] += content[i].yarinohiseki; %>
                    <% items[50] += content[i].kinohiseki; %>
                    <% items[51] += content[i].zyutsunohiseki; %>
                    <% items[52] += content[i].satsunohiseki; %>
                    <% items[53] += content[i].kyonohiseki; %>
                    <% items[54] += content[i].saberpiece; %>
                    <% items[55] += content[i].archerpiece; %>
                    <% items[56] += content[i].lancerpiece; %>
                    <% items[57] += content[i].riderpiece; %>
                    <% items[58] += content[i].casterpiece; %>
                    <% items[59] += content[i].assassinpiece; %>
                    <% items[60] += content[i].berserkerpiece; %>
                    <% items[61] += content[i].sabermonument; %>
                    <% items[62] += content[i].archermonument; %>
                    <% items[63] += content[i].lancermonument; %>
                    <% items[64] += content[i].ridermonument; %>
                    <% items[65] += content[i].castermonument; %>
                    <% items[66] += content[i].assassinmonument; %>
                    <% items[67] += content[i].berserkermonument; %>
                    <% items[68] += content[i].others; %>
                    <% items[69] += content[i].reishinkayaku; %>
                    <% items[70] += content[i].eienkepyo; %>
                    <% items[71] += content[i].kyozinnoyubiwa; %>
                    <% items[72] += content[i].ororakou; %>

                <% } %>
                <% for (var i in content_s1) { %>
                    <% items[0] += content_s1[i].eiyunoakashi; %>
                    <% items[1] += content_s1[i].kyokotsu; %>
                    <% items[2] += content_s1[i].ryunokiba; %>
                    <% items[3] += content_s1[i].kyoeinochiri; %>
                    <% items[4] += content_s1[i].gusyanokusari; %>    
                    <% items[5] += content_s1[i].banshinodokubari; %>
                    <% items[6] += content_s1[i].mazyutsuzuieki; %>
                    <% items[7] += content_s1[i].yoidukinotetsukui; %>
                    <% items[8] += content_s1[i].sakaizyunotane; %>
                    <% items[9] += content_s1[i].ghostlanthumn; %>
                    <% items[10] += content_s1[i].hachirensosho; %>
                    <% items[11] += content_s1[i].hebihogyoku; %>
                    <% items[12] += content_s1[i].hououhane; %>
                    <% items[13] += content_s1[i].mugenhaguruma; %>
                    <% items[14] += content_s1[i].kindanpage; %>
                    <% items[15] += content_s1[i].homunculusbaby; %>
                    <% items[16] += content_s1[i].intetetsu; %>
                    <% items[17] += content_s1[i].daikishikunsho; %>
                    <% items[18] += content_s1[i].tsuiokukaigara; %>
                    <% items[19] += content_s1[i].karetanmagatama; %>
                    <% items[20] += content_s1[i].kontontsume; %>
                    <% items[21] += content_s1[i].banshinshinzo; %>
                    <% items[22] += content_s1[i].ryunogekirin; %>
                    <% items[23] += content_s1[i].seireikon; %>
                    <% items[24] += content_s1[i].senmanoyokaku; %>
                    <% items[25] += content_s1[i].chinoruiseki; %>
                    <% items[26] += content_s1[i].kokuzyushi; %>
                    <% items[27] += content_s1[i].fumanolamp; %>
                    <% items[28] += content_s1[i].chienosukarabe; %>
                    <% items[29] += content_s1[i].genshonoubuge; %>
                    <% items[30] += content_s1[i].zyuzyutanseki; %>
                    <% items[31] += content_s1[i].kikishinsyu; %>
                    <% items[32] += content_s1[i].denshonokessho; %>
                    <% items[33] += content_s1[i].kennokiseki; %>
                    <% items[34] += content_s1[i].yuminokiseki; %>
                    <% items[35] += content_s1[i].yarinokiseki; %>
                    <% items[36] += content_s1[i].kinokiseki; %>
                    <% items[37] += content_s1[i].zyutsunokiseki; %>
                    <% items[38] += content_s1[i].satsunokiseki; %>
                    <% items[39] += content_s1[i].kyonokiseki; %>
                    <% items[40] += content_s1[i].kennomaseki; %>
                    <% items[41] += content_s1[i].yuminomaseki; %>
                    <% items[42] += content_s1[i].yarinomaseki; %>
                    <% items[43] += content_s1[i].kinomaseki; %>
                    <% items[44] += content_s1[i].zyutsunomaseki; %>
                    <% items[45] += content_s1[i].satsunomaseki; %>
                    <% items[46] += content_s1[i].kyonomaseki; %>
                    <% items[47] += content_s1[i].kennohiseki; %>
                    <% items[48] += content_s1[i].yuminohiseki; %>
                    <% items[49] += content_s1[i].yarinohiseki; %>
                    <% items[50] += content_s1[i].kinohiseki; %>
                    <% items[51] += content_s1[i].zyutsunohiseki; %>
                    <% items[52] += content_s1[i].satsunohiseki; %>
                    <% items[53] += content_s1[i].kyonohiseki; %>
                    <% items[54] += content_s1[i].saberpiece; %>
                    <% items[55] += content_s1[i].archerpiece; %>
                    <% items[56] += content_s1[i].lancerpiece; %>
                    <% items[57] += content_s1[i].riderpiece; %>
                    <% items[58] += content_s1[i].casterpiece; %>
                    <% items[59] += content_s1[i].assassinpiece; %>
                    <% items[60] += content_s1[i].berserkerpiece; %>
                    <% items[61] += content_s1[i].sabermonument; %>
                    <% items[62] += content_s1[i].archermonument; %>
                    <% items[63] += content_s1[i].lancermonument; %>
                    <% items[64] += content_s1[i].ridermonument; %>
                    <% items[65] += content_s1[i].castermonument; %>
                    <% items[66] += content_s1[i].assassinmonument; %>
                    <% items[67] += content_s1[i].berserkermonument; %>
                    <% items[68] += content_s1[i].others; %>
                    <% items[69] += content_s1[i].reishinkayaku; %>
                    <% items[70] += content_s1[i].eienkepyo; %>
                    <% items[71] += content_s1[i].kyozinnoyubiwa; %>
                    <% items[72] += content_s1[i].ororakou; %>
                <% } %>
                <% for (var i in content_s2) { %>
                    <% items[0] += content_s2[i].eiyunoakashi; %>
                    <% items[1] += content_s2[i].kyokotsu; %>
                    <% items[2] += content_s2[i].ryunokiba; %>
                    <% items[3] += content_s2[i].kyoeinochiri; %>
                    <% items[4] += content_s2[i].gusyanokusari; %>    
                    <% items[5] += content_s2[i].banshinodokubari; %>
                    <% items[6] += content_s2[i].mazyutsuzuieki; %>
                    <% items[7] += content_s2[i].yoidukinotetsukui; %>
                    <% items[8] += content_s2[i].sakaizyunotane; %>
                    <% items[9] += content_s2[i].ghostlanthumn; %>
                    <% items[10] += content_s2[i].hachirensosho; %>
                    <% items[11] += content_s2[i].hebihogyoku; %>
                    <% items[12] += content_s2[i].hououhane; %>
                    <% items[13] += content_s2[i].mugenhaguruma; %>
                    <% items[14] += content_s2[i].kindanpage; %>
                    <% items[15] += content_s2[i].homunculusbaby; %>
                    <% items[16] += content_s2[i].intetetsu; %>
                    <% items[17] += content_s2[i].daikishikunsho; %>
                    <% items[18] += content_s2[i].tsuiokukaigara; %>
                    <% items[19] += content_s2[i].karetanmagatama; %>
                    <% items[20] += content_s2[i].kontontsume; %>
                    <% items[21] += content_s2[i].banshinshinzo; %>
                    <% items[22] += content_s2[i].ryunogekirin; %>
                    <% items[23] += content_s2[i].seireikon; %>
                    <% items[24] += content_s2[i].senmanoyokaku; %>
                    <% items[25] += content_s2[i].chinoruiseki; %>
                    <% items[26] += content_s2[i].kokuzyushi; %>
                    <% items[27] += content_s2[i].fumanolamp; %>
                    <% items[28] += content_s2[i].chienosukarabe; %>
                    <% items[29] += content_s2[i].genshonoubuge; %>
                    <% items[30] += content_s2[i].zyuzyutanseki; %>
                    <% items[31] += content_s2[i].kikishinsyu; %>
                    <% items[32] += content_s2[i].denshonokessho; %>
                    <% items[33] += content_s2[i].kennokiseki; %>
                    <% items[34] += content_s2[i].yuminokiseki; %>
                    <% items[35] += content_s2[i].yarinokiseki; %>
                    <% items[36] += content_s2[i].kinokiseki; %>
                    <% items[37] += content_s2[i].zyutsunokiseki; %>
                    <% items[38] += content_s2[i].satsunokiseki; %>
                    <% items[39] += content_s2[i].kyonokiseki; %>
                    <% items[40] += content_s2[i].kennomaseki; %>
                    <% items[41] += content_s2[i].yuminomaseki; %>
                    <% items[42] += content_s2[i].yarinomaseki; %>
                    <% items[43] += content_s2[i].kinomaseki; %>
                    <% items[44] += content_s2[i].zyutsunomaseki; %>
                    <% items[45] += content_s2[i].satsunomaseki; %>
                    <% items[46] += content_s2[i].kyonomaseki; %>
                    <% items[47] += content_s2[i].kennohiseki; %>
                    <% items[48] += content_s2[i].yuminohiseki; %>
                    <% items[49] += content_s2[i].yarinohiseki; %>
                    <% items[50] += content_s2[i].kinohiseki; %>
                    <% items[51] += content_s2[i].zyutsunohiseki; %>
                    <% items[52] += content_s2[i].satsunohiseki; %>
                    <% items[53] += content_s2[i].kyonohiseki; %>
                    <% items[54] += content_s2[i].saberpiece; %>
                    <% items[55] += content_s2[i].archerpiece; %>
                    <% items[56] += content_s2[i].lancerpiece; %>
                    <% items[57] += content_s2[i].riderpiece; %>
                    <% items[58] += content_s2[i].casterpiece; %>
                    <% items[59] += content_s2[i].assassinpiece; %>
                    <% items[60] += content_s2[i].berserkerpiece; %>
                    <% items[61] += content_s2[i].sabermonument; %>
                    <% items[62] += content_s2[i].archermonument; %>
                    <% items[63] += content_s2[i].lancermonument; %>
                    <% items[64] += content_s2[i].ridermonument; %>
                    <% items[65] += content_s2[i].castermonument; %>
                    <% items[66] += content_s2[i].assassinmonument; %>
                    <% items[67] += content_s2[i].berserkermonument; %>
                    <% items[68] += content_s2[i].others; %>
                    <% items[69] += content_s2[i].reishinkayaku; %>
                    <% items[70] += content_s2[i].eienkepyo; %>
                    <% items[71] += content_s2[i].kyozinnoyubiwa; %>
                    <% items[72] += content_s2[i].ororakou; %>
                <% } %>
                <% for (var i in content_s3) { %>
                    <% items[0] += content_s3[i].eiyunoakashi; %>
                    <% items[1] += content_s3[i].kyokotsu; %>
                    <% items[2] += content_s3[i].ryunokiba; %>
                    <% items[3] += content_s3[i].kyoeinochiri; %>
                    <% items[4] += content_s3[i].gusyanokusari; %>    
                    <% items[5] += content_s3[i].banshinodokubari; %>
                    <% items[6] += content_s3[i].mazyutsuzuieki; %>
                    <% items[7] += content_s3[i].yoidukinotetsukui; %>
                    <% items[8] += content_s3[i].sakaizyunotane; %>
                    <% items[9] += content_s3[i].ghostlanthumn; %>
                    <% items[10] += content_s3[i].hachirensosho; %>
                    <% items[11] += content_s3[i].hebihogyoku; %>
                    <% items[12] += content_s3[i].hououhane; %>
                    <% items[13] += content_s3[i].mugenhaguruma; %>
                    <% items[14] += content_s3[i].kindanpage; %>
                    <% items[15] += content_s3[i].homunculusbaby; %>
                    <% items[16] += content_s3[i].intetetsu; %>
                    <% items[17] += content_s3[i].daikishikunsho; %>
                    <% items[18] += content_s3[i].tsuiokukaigara; %>
                    <% items[19] += content_s3[i].karetanmagatama; %>
                    <% items[20] += content_s3[i].kontontsume; %>
                    <% items[21] += content_s3[i].banshinshinzo; %>
                    <% items[22] += content_s3[i].ryunogekirin; %>
                    <% items[23] += content_s3[i].seireikon; %>
                    <% items[24] += content_s3[i].senmanoyokaku; %>
                    <% items[25] += content_s3[i].chinoruiseki; %>
                    <% items[26] += content_s3[i].kokuzyushi; %>
                    <% items[27] += content_s3[i].fumanolamp; %>
                    <% items[28] += content_s3[i].chienosukarabe; %>
                    <% items[29] += content_s3[i].genshonoubuge; %>
                    <% items[30] += content_s3[i].zyuzyutanseki; %>
                    <% items[31] += content_s3[i].kikishinsyu; %>
                    <% items[32] += content_s3[i].denshonokessho; %>
                    <% items[33] += content_s3[i].kennokiseki; %>
                    <% items[34] += content_s3[i].yuminokiseki; %>
                    <% items[35] += content_s3[i].yarinokiseki; %>
                    <% items[36] += content_s3[i].kinokiseki; %>
                    <% items[37] += content_s3[i].zyutsunokiseki; %>
                    <% items[38] += content_s3[i].satsunokiseki; %>
                    <% items[39] += content_s3[i].kyonokiseki; %>
                    <% items[40] += content_s3[i].kennomaseki; %>
                    <% items[41] += content_s3[i].yuminomaseki; %>
                    <% items[42] += content_s3[i].yarinomaseki; %>
                    <% items[43] += content_s3[i].kinomaseki; %>
                    <% items[44] += content_s3[i].zyutsunomaseki; %>
                    <% items[45] += content_s3[i].satsunomaseki; %>
                    <% items[46] += content_s3[i].kyonomaseki; %>
                    <% items[47] += content_s3[i].kennohiseki; %>
                    <% items[48] += content_s3[i].yuminohiseki; %>
                    <% items[49] += content_s3[i].yarinohiseki; %>
                    <% items[50] += content_s3[i].kinohiseki; %>
                    <% items[51] += content_s3[i].zyutsunohiseki; %>
                    <% items[52] += content_s3[i].satsunohiseki; %>
                    <% items[53] += content_s3[i].kyonohiseki; %>
                    <% items[54] += content_s3[i].saberpiece; %>
                    <% items[55] += content_s3[i].archerpiece; %>
                    <% items[56] += content_s3[i].lancerpiece; %>
                    <% items[57] += content_s3[i].riderpiece; %>
                    <% items[58] += content_s3[i].casterpiece; %>
                    <% items[59] += content_s3[i].assassinpiece; %>
                    <% items[60] += content_s3[i].berserkerpiece; %>
                    <% items[61] += content_s3[i].sabermonument; %>
                    <% items[62] += content_s3[i].archermonument; %>
                    <% items[63] += content_s3[i].lancermonument; %>
                    <% items[64] += content_s3[i].ridermonument; %>
                    <% items[65] += content_s3[i].castermonument; %>
                    <% items[66] += content_s3[i].assassinmonument; %>
                    <% items[67] += content_s3[i].berserkermonument; %>
                    <% items[68] += content_s3[i].others; %>
                    <% items[69] += content_s3[i].reishinkayaku; %>
                    <% items[70] += content_s3[i].eienkepyo; %>
                    <% items[71] += content_s3[i].kyozinnoyubiwa; %>
                    <% items[72] += content_s3[i].ororakou; %>
                <% } %>
                <% for (var i=0; i<73; i++) { %>
                    <% if(items[i]!=0) { %>
                        <tr><%= itemnames[i] %>： <%= items[i] %></tr><br>
                    <% } %>
                <% } %>
            </table>
        </div>
    <p class="menu"><a href="/">トップに戻る</a></p>
    <p class="menu"><a href="/item/set">サーヴァントの指定に戻る</a></p>
    </body>
</html>